* {
    background-color: black;
}

.login {
    display: grid;
    place-items: center;
    height: 100vh;   
    background-color: black;
}

.login > img {     
    width: 100%;
    height: auto;
    alt: unset;
    
}

/* TODO: enlarge and add white border on hover */
.login > a {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: #1db954;
    border-radius: 99px;  
    text-decoration: none;  
    font-weight: 1000;
    text-transform: uppercase;   
    color: black;
    text-align:center;
    
}
